<!DOCTYPE html>
%html
  %head
    %title Sean Gransee
    %link{:href => '/reset.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/styles.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'icon', :type => 'image/png', :href => '/favicon.png'}

  %body
    #wrapper
      %h1 I <a href="https://twitter.com/seangransee">tweet</a>, I <a href="http://seangransee.tumblr.com">blog</a>, I <a href="/portfolio">make stuff</a>.

    #email
      %a{:href => 'http://seangransee.tumblr.com'} Blog 
      %a{:href => 'mailto:sean.gransee@gmail.com'} Email    
      %a{:href => 'https://github.com/seangransee'} Github
      %a{:href => 'http://twitter.com/seangransee'} Twitter
      %a{:href => 'http://www.linkedin.com/pub/sean-gransee/32/2a8/203'} Linkedin
      %a{:href => 'https://dl.dropbox.com/u/18931291/Gransee_Sean_Resume.pdf'} Résumé
      %a{:href => 'http://facebook.com/sean.gransee'} Facebook