<!DOCTYPE html>
%html
  %head
    %title Portfolio - Sean Gransee
    %link{:href => '/reset.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/styles.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'icon', :type => 'image/png', :href => '/favicon.png'}

  %body
    #topright
      %a{:href => '/'} <-- take me back home
    #wrapper
      %p.bold I'm in the process of redesigning my portfolio,<br />but for now here's a sampling of projects/organizations where I've made an impact:
      %ul.portfolio
        %li
          %a{:href => 'http://syndiosocial.com/'} Syndio Social
        %li
          %a{:href => 'http://kollabora.com/'} Kollabora
        %li
          %a{:href => 'http://wikiloopr.com/'} WikiLoopr
        %li
          %a{:href => 'http://bit.ly/FacebookNanny'} Facebook Nanny
        %li
          %a{:href => 'http://sciencefist.org/'} the scienceFIST foundation
        %li
          %a{:href => 'http://nudeltachi.com/'} The Delta Chi Fraternity, Northwestern Chapter
        %li
          %a{:href => 'http://applausenu.org/'} Applause For a Cause
        %li
          %a{:href => 'http://sonic.northwestern.edu/'} Science of Networks in Communities
        %li
          %a{:href => 'http://nucats.org/'} Creative Arts and Technology Studio
        %li
          %a{:href => 'http://softwarecake.com/'} Software Cake
        %li
          %a{:href => 'http://deltachimovers.com/'} Delta Chi Movers
        %li
          %a{:href => 'http://britethorn.com/'} Britethorn
        %li
          %a{:href => 'http://rossandjacks.com/'} Ross and Jack's Landscaping
        %li
          %a{:href => 'http://mrshollatz.com/'} Mrs. Hollatz
        %li
          %a{:href => 'http://waterburynetwork.com/'} Waterbury Network
        %li
          %a{:href => 'http://coolerconcept.com/'} Cooler Concept
        %li
          %a{:href => 'http://dantesdailyrants.com/'} Dante's Daily Rants
        %li
          %a{:href => 'http://ciknow.northwestern.edu/'} C-IKNOW
        %li
          %a{:href => 'https://www.facebook.com/groups/298607746286/'} Iceman's Sweeties



        